.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
    animation: App-logo-spin infinite 20s linear;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

td {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: calc(2vh);
}

td.table-dropdown:first-child {
    padding-left: 0;
}

td.table-dropdown {
    text-align: left;
    vertical-align: middle;
    padding-left: 1em;
}

.text-center-left {
    text-align: left;
    vertical-align: middle;
}

.text-center-center {
    text-align: center;
    vertical-align: middle;
}

.img-rules {
    width: 70vh;
}
